#inspiratiebord {

  display: flex;
  flex-direction: column;
  align-items: center;

  main {

    display: grid;
    grid-template-columns: auto repeat(6, 15rem) auto;
    grid-template-rows: 6rem repeat(4, 15rem);
    justify-content: center;



    aside {
      grid-column: 2;
      grid-row: 2 / span 4
    }

    section#schademeldingen {

      grid-column: 3;
      grid-row: 2;
    }


    section#map {

      grid-column: 6 / span 2;
      grid-row: 2 / span 2;

      .map-input-container svg {
        margin: -300px 0 0 0;
      }
    }
  }
}