#inspiratiebord {

  display: flex;
  flex-direction: column;
  align-items: center;

  .tick text, .small-label {
    font-size: .6rem;
  }

  main {

    @media (min-width : $breakpoint-md) {

      height: 100vh;
      display: grid;
      grid-template-columns: auto 14rem 46rem auto;
      grid-template-rows: 3rem 2rem calc(100% - 8rem) 2rem;
      justify-content: center;

    }

    @media (min-width : $breakpoint-lg) {

      display: grid;
      grid-template-columns: auto 14rem 78rem auto;
      grid-template-rows: 3rem 2rem auto;
      justify-content: center;
    }

    h3 {
      font-size: 1rem;
    }

    aside {
      grid-column: 2;
      grid-row: 3;

      #muni-select {
        margin-top: -.125rem;
      }

      #specials-select {
        margin-top: 2rem;
      }


    }

    section#menu {

      grid-column: 3;
      grid-row: 2;
    //   padding-bottom: 4rem;

        ul {
          display: flex;
          flex-direction: row;
          margin-left: 4rem;
          //background: rgb(238, 238, 238);
          //padding: .2rem .5rem;

            li {

              padding: .25rem 2rem;
              border-right: none;
              border-bottom: 1px solid $lightgrey;

              &:first-of-type {
                padding-left: 0.5rem;
              }

              &:last-of-type {
                padding-right: 0.5rem;
              }
            }
        }
    }

    section.page {

      grid-column: 3;
      grid-row: 3;
      position: relative;
      display: none;
      grid-template-columns: 2rem repeat(8,1fr);
      grid-template-rows: 0rem repeat(8,1fr);
      grid-gap: 1rem;
      height: 100%;

        article {

          width: auto;
          height: auto;

          .container {

            height: 100%;

            &:empty {
              //background: #dedede;
            }
          }
        }
    }

    section#vorige-week {

        display: grid;

      #cijfer-nieuwe-meldingen {

        grid-column: 2 / span 2;
        grid-row: 2 / span 1;

        svg {
          overflow: visible;
        }
      }

      #cijfer-nieuwe-opnames {

        grid-column: 4 / span 2;
        grid-row: 2 / span 1;

        svg {
          overflow: visible;
        }
      }

      #cijfer-nieuwe-besluiten {

        grid-column: 6 / span 2;
        grid-row: 2 / span 1;

        svg {
          overflow: visible;
        }
      }

      #cijfer-nieuwe-afgehandeld {

        grid-column: 8 / span 2;
        grid-row: 2 / span 1;

        svg {
          overflow: visible;
        }

      }


      #map-nieuwe-meldingen {

          grid-column: 2 / span 2;
          grid-row: 3 / span 2;
        }

        #map-nieuwe-opnames {

          grid-column: 4 / span 2;
          grid-row: 3 / span 2;
          height: calc((100vw - 200px ) / 4 );
        }

        #map-nieuwe-besluiten {

          grid-column: 6 / span 2;
          grid-row: 3 / span 2;
        }

        #map-nieuwe-afgehandeld {

          grid-column: 8 / span 2;
          grid-row: 3  / span 2;
        }

        .mini-map {

          height: calc((100vw - 200px ) / 4 );

          svg {
            overflow: visible;
            margin-top: -5vw;
          }
        }
    }

    section#meldingen {

      #bars-schade-meldingen {

        grid-column: 2 / span 4;
        grid-row: 1 / span 2;

        svg {
          overflow: visible;
        }
      }

      #bars-aos-meldingen {

        grid-column: 1 / span 4;
        grid-row: 5 / span 2;

        svg {
          overflow: visible;
        }
      }

      //#aosmeldingen {
      //
      //  grid-column: 1 / span 4;
      //  grid-row: 3 / span 2;
      //
      //  svg {
      //    overflow: visible;
      //  }
      //}

      #map-schade-meldingen {

        grid-column: 5 / span 4;
        grid-row: 1 / span 8;

        .container svg {
          margin: -290px 0 0 0;
        }
      }
    }

    section#aos-meldingen {



      #map-aos-meldingen {

        grid-column: 5 / span 4;
        grid-row: 1 / span 8;

        .container svg {
          margin: -290px 0 0 0;
        }
      }
    }


    section#schade-opnames {


    }

    section#voortgang {


     }

    section#schadevergoedingen {

    }

    //section .container {
    //
    //  height: 100%;
    //}
    //
    //section#bedragen {
    //
    //  grid-column: 3;
    //  grid-row: 2;
    //
    //  svg {
    //    overflow: visible;
    //  }
    //}
    //
    //section#verdeling {
    //
    //  grid-column: 4;
    //  grid-row: 2;
    //
    //  svg {
    //    overflow: visible;
    //  }
    //}
    //

    //
    //section#status-actueel {
    //
    //  grid-column: 3;
    //  grid-row: 3;
    //
    //  svg {
    //    overflow: visible;
    //  }
    //}
    //
    //section#besluiten {
    //
    //  grid-column: 3 / span 2;
    //  grid-row: 5;
    //
    //  svg {
    //    overflow: visible;
    //  }
    //}
    //
    //section#voortgang {
    //
    //  grid-column: 5 / span 2;
    //  grid-row: 4;
    //
    //  svg {
    //    overflow: visible;
    //  }
    //}
    //
    //section#candles {
    //
    //  grid-column: 5 / span 2;
    //  grid-row: 5;
    //
    //  svg {
    //    overflow: visible;
    //
    //    path.line {
    //      fill: transparent;
    //    }
    //  }
    //}
    //
    //section#som {
    //
    //  grid-column: 3 / span 1;
    //  grid-row: 6;
    //
    //  svg {
    //    overflow: visible;
    //  }
    //}
    //
    //section#herkomst {
    //
    //  grid-column: 4 / span 1;
    //  grid-row: 6;
    //
    //  svg {
    //    overflow: visible;
    //  }
    //}
    //
    //section#opnames {
    //
    //  grid-column: 5 / span 1;
    //  grid-row: 6;
    //
    //  svg {
    //    overflow: visible;
    //  }
    //}
    //
    //

    //}
  }

  .map {



    .container {

      height: 100%;
    }
  }

  ul {



    li {

      font-size: .8rem;
      color: $grey;
      border-right: 1px solid $lightgrey ;
      text-transform: uppercase;
      padding: .25rem .5rem;
      line-height: 1.125;
      cursor : pointer;

      span {
        display: inline;
      }

      &.active, &:hover  {

        background: $lightgrey;

        span {

          color: black;
        //  border-bottom: 1px solid black;

        }
      }

    }
  }
}