#inspiratiebord {

  display: flex;
  flex-direction: column;
  align-items: center;

  .tick text, .small-label {
    font-size: .6rem;
  }

  main {

    @media (min-width : $breakpoint-md) {

      height: 100vh;
      display: grid;
      grid-template-columns: auto 12rem 48rem auto;
      grid-template-rows: 2rem 4rem calc(100% - 8rem) 2rem;
      justify-content: center;

    }

    @media (min-width : $breakpoint-lg) {

      display: grid;
      grid-template-columns: auto 12rem 80rem auto;
      grid-template-rows: 4rem 4rem auto;
      justify-content: center;
    }



    h3 {
      font-size: 1rem;
    }

    aside {
      grid-column: 2;
      grid-row: 3;

      #muni-select {
        margin-top: -.125rem;
      }

      #specials-select {
        margin-top: 3rem;
      }


    }

    section#menu {

      grid-column: 3;
      grid-row: 2;
      padding-bottom: 3rem;

        ul {
          display: flex;
          flex-direction: row;

            li {
              margin-right: 2rem;

              &:last-of-type {
                margin: 0;
              }
            }
        }
    }

    section.page {

      grid-column: 3;
      grid-row: 3;
      position: relative;
      display: none;
      grid-template-columns: repeat(8,1fr);
      grid-template-rows: repeat(8,1fr);
      grid-gap: 1rem;
      height: 100%;

        article {

          width: auto;
          height: auto;

          .container {

            height: 100%;

            &:empty {
              background: #dedede;
            }
          }
        }
    }

    section#vorige-week {

        display: grid;

        #map-nieuwe-meldingen {

          grid-column: 1 / span 2;
          grid-row: 1 / span 2;

          svg {
            overflow: visible;
          }
        }

        #map-nieuwe-opnames {

          grid-column: 3 / span 2;
          grid-row: 1 / span 2;

          svg {
            overflow: visible;
          }
        }

        #map-nieuwe-besluiten {

          grid-column: 5 / span 2;
          grid-row: 1 / span 2;

          svg {
            overflow: visible;
          }
        }

        #map-nieuwe-afgehandeld {

          grid-column: 7 / span 2;
          grid-row: 1 / span 2;

          svg {
            overflow: visible;
          }

        }
    }

    section#meldingen {

      #bars-schade-meldingen {

        grid-column: 1 / span 4;
        grid-row: 1 / span 2;

        svg {
          overflow: visible;
        }
      }

      #bars-aos-meldingen {

        grid-column: 1 / span 4;
        grid-row: 5 / span 2;

        svg {
          overflow: visible;
        }
      }

      //#aosmeldingen {
      //
      //  grid-column: 1 / span 4;
      //  grid-row: 3 / span 2;
      //
      //  svg {
      //    overflow: visible;
      //  }
      //}

      #map-schade-meldingen {

        grid-column: 5 / span 4;
        grid-row: 1 / span 8;

        .container svg {
          margin: -290px 0 0 0;
        }
      }
    }

    section#aos-meldingen {



      #map-aos-meldingen {

        grid-column: 5 / span 4;
        grid-row: 1 / span 8;

        .container svg {
          margin: -290px 0 0 0;
        }
      }
    }


    section#schade-opnames {


    }

    section#voortgang {


     }

    section#schadevergoedingen {

    }

    //section .container {
    //
    //  height: 100%;
    //}
    //
    //section#bedragen {
    //
    //  grid-column: 3;
    //  grid-row: 2;
    //
    //  svg {
    //    overflow: visible;
    //  }
    //}
    //
    //section#verdeling {
    //
    //  grid-column: 4;
    //  grid-row: 2;
    //
    //  svg {
    //    overflow: visible;
    //  }
    //}
    //

    //
    //section#status-actueel {
    //
    //  grid-column: 3;
    //  grid-row: 3;
    //
    //  svg {
    //    overflow: visible;
    //  }
    //}
    //
    //section#besluiten {
    //
    //  grid-column: 3 / span 2;
    //  grid-row: 5;
    //
    //  svg {
    //    overflow: visible;
    //  }
    //}
    //
    //section#voortgang {
    //
    //  grid-column: 5 / span 2;
    //  grid-row: 4;
    //
    //  svg {
    //    overflow: visible;
    //  }
    //}
    //
    //section#candles {
    //
    //  grid-column: 5 / span 2;
    //  grid-row: 5;
    //
    //  svg {
    //    overflow: visible;
    //
    //    path.line {
    //      fill: transparent;
    //    }
    //  }
    //}
    //
    //section#som {
    //
    //  grid-column: 3 / span 1;
    //  grid-row: 6;
    //
    //  svg {
    //    overflow: visible;
    //  }
    //}
    //
    //section#herkomst {
    //
    //  grid-column: 4 / span 1;
    //  grid-row: 6;
    //
    //  svg {
    //    overflow: visible;
    //  }
    //}
    //
    //section#opnames {
    //
    //  grid-column: 5 / span 1;
    //  grid-row: 6;
    //
    //  svg {
    //    overflow: visible;
    //  }
    //}
    //
    //

    //}
  }

  .map {



    .container {

      height: 100%;
    }
  }

  ul {

    li {

      color: $grey;

      padding: .125rem 0;

      span {
        display: inline;
      }

      &.active span {

        color: black;
        border-bottom: 1px solid black;
      }

    }
  }
}