.single-graph main {

  //align-items: flex-start;

  svg {
    overflow: visible;
  }

  h2 {

    color: $green;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 700;

    @media (min-width: 700px) {
      font-size: 1.6rem;
    }
  }

  div.container:not(.no-bottom-container) {
    height: calc(100vh - 80px);

    @media (min-width: $breakpoint-sm) {
      height: calc(100vh - 90px);
    }

    &.extra-room-bottom {
      @media (max-width: $breakpoint-sm) {
        height: calc(100vh - 170px);
      }
    }
  }

  div.container.no-bottom-container {
    height: calc(100vh);
  }
}

iframe {
  border: none;
}


#schademeldingen .selector  {

  @media (max-width: $breakpoint-xxsm) {
    margin-left: 0;
    width: 100%;
  }
}