.single-graph main {

  svg {
    overflow: visible;
  }

  .x-axis .tick text {
    transform: rotate(45deg);
  }

  h2 {

    color: $green;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 700;

    @media (min-width: 700px) {
      font-size: 1.6rem;
    }
  }

  align-items: flex-start;
  padding-left: 2rem;

  div {
    width: calc(100vw - 4rem);
    height: 80vh;

    @media (min-width: 700px) {
      width: calc(100vw - 12rem);
      //height: 80vh;
    }
  }

  .progress-candles-container g.data path {
    stroke: darkblue;
    stroke-width: 2px;
    stroke-dasharray: none;
  }
}