.single-graph main {

  //align-items: flex-start;

  svg {
    overflow: visible;
  }

  h2 {

    color: $green;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 700;

    @media (min-width: 700px) {
      font-size: 1.6rem;
    }
  }

  div.container {
    width: 100vw;
    height: calc(100vh - 31px - 220px);
  }
}