
.x-axis {

  font-size: .45rem;

  @media (min-width : $mobile-max) {
    font-size: .6rem;
  }

}


.blocks {

  rect, path {
    fill: #ccc;
  }
  path {  opacity : .4 }

  &.zonder.opname {
    rect, path {
      fill: $green;
    }
  }

  &.met.opname {
    rect, path {
      fill: orange;
    }
  }

  &.Na {
    rect, path {
      fill: $blue;
      display: block;
    }
  }

  &.acuut {
    rect, path {
      fill: darkblue;
      display: block;
    }
  }
}

.progress-container {

  g.data {

    path {
      fill: none;
      stroke: #000;
      stroke-dasharray: 4;
    }
  }
}

div.tooltip {
  position: absolute;
  width: auto;
  height: auto;
  padding: .25rem .25rem;
  background: black;
  color: #fff;
  pointer-events: none;
  font-size: .7rem;
}

text.number {
  font-family: "RO Sans";
  text-transform: uppercase;
  font-weight: 500;
  font-size: .85rem;
  line-height: 1.6;
  letter-spacing: .5px;

}
