//.bar  {
//
//  fill: #ccc;
//}
//
//.category.cvw_met_historie {
//
//  .bar {
//    fill : #ff0000;
//  }
//}
//
//
//.flow {
//
//  opacity: .5;
//}

.chart-container {
  height: 100%;
}

.serie {

  rect {
    fill: #ccc;
  }


  &.cvw_met_historie {

    rect, path {
      fill: $green;
    }
  }

  &.cvw_zonder_historie {

    rect, path {
      fill: $blue;
    }
  }
}

