//.bar  {
//
//  fill: #ccc;
//}
//
//.category.cvw_met_historie {
//
//  .bar {
//    fill : #ff0000;
//  }
//}
//
//
//.flow {
//
//  opacity: .5;
//}

svg  {
  font-family: arial, sans-serif;
}

.chart-container {
  height: 100%;
}

.input {

  rect, path {
    fill: #ccc;
  }
  path {  opacity : .4 }

  &.cvw.zonder.historie {
    rect, path {
      fill: $green;
    }
  }

  &.cvw.met.historie {
    rect, path {
      fill: orange;
    }
  }

  &.nieuw.zonder.historie {
    rect, path {
      fill: $blue;
      display: block;
    }
  }

  &.nieuw.met.historie {
    rect, path {
      fill: darkblue;
      display: block;
    }
  }
}

svg {
  .serie {
    rect, path { fill: #ccc; }
    path {  opacity : .2 }
  }
}

svg.cvw.zonder.historie {
   .serie.cvw.zonder.historie {
     rect, path { fill: $green; }
   }
 }

svg.cvw.met.historie {
  .serie.cvw.met.historie {
    rect, path { fill: orange; }
  }
}

svg.nieuw.zonder.historie {
   .serie.nieuw.zonder.historie {
     rect, path { fill: $blue; }
   }
 }

svg.nieuw.met {
  .serie.nieuw.met.historie {
    rect, path { fill: darkblue; }
  }
}

text.header {

  text-transform: uppercase;
  font-weight: bold;
  font-size: .85rem;
}

.legend rect  {
  fill: $blue;

  &.nieuw.met  {
    fill: darkblue;
  }
  &.cvw.met {
    fill: orange;
  }
  &.cvw.zonder  {
    fill: $green;
  }
}

.legend .label {
  font-size: .7rem;
}