#candles main {


  h2 {

    color: $green;
    font-size: 1.6rem;
    text-transform: uppercase;
    font-weight: 700;
  }

  align-items: flex-start;

  div {
    width: calc(100% - 10rem);
    height: 600px;
  }

  .progress-candles-container g.data path {
    stroke: darkblue;
    stroke-width: 2px;
    stroke-dasharray: none;
  }
}