.single-graph main {


  h2 {

    color: $green;
    font-size: 1.6rem;
    text-transform: uppercase;
    font-weight: 700;
  }

  align-items: flex-start;
  padding-left: 2rem;

  div {
    width: calc(100% - 12rem);
    height: 600px;
  }

  .progress-candles-container g.data path {
    stroke: darkblue;
    stroke-width: 2px;
    stroke-dasharray: none;
  }
}