li.checkbox {


  //border: 1px solid black;
  //border-radius: 4px;

  margin-bottom: .5rem;
  margin-right: .5rem;
  cursor: pointer;


  input {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0;

  }

  label {
    display: block;
    padding: 3px .5rem 3px .5rem;
    cursor: pointer;
    border-radius: 5px;
  }

  input:not(checked) + label {
    border: 1px solid $grey;
  }

  input:checked + label {
    background: $green;
    color: white;
  }

  input#nulmetingen:checked + label {
    background: $orange;
    //color: black;
  }

  input#adviesrapporten:checked + label {
    background: $orange;
    //color: black;
  }

  input#besluiten_regulier:checked + label {
    background: $blue;
  }

  input#besluiten_stuwmeerregeling:checked + label {
    background: $darkblue;
  }

  input#MELDING_NA_WESTERWIJTWERD:checked + label {
    background: $orange;
    //color: black;
  }

  input#MELDING_VOOR_WESTERWIJTWE:checked + label {
    background: $darkblue;
    //color: black;
  }

  input#MELDING_CVW:checked + label {
    background: $blue;
    //color: black;
  }

}