li.checkbox {


  border: 1px solid black;
  border-radius: 4px;

  margin-bottom: .5rem;
  margin-right: .5rem;

  input {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0;
  }

  label {
    display: block;
    padding: 3px .5rem 3px .5rem;
  }

  input:checked + label {
    background: $orange;
    color: white;
  }

  input#nul-metingen:checked + label {
    background: $blue;
    color: black;
  }

  input#adviesrapporten:checked + label {
    background: $orange;
    color: black;
  }

  input#besluiten:checked + label {
    background: $darkblue;
  }


}