article.cijfer {

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  h3  {
      border-bottom: 1px solid black;
  }

  .container {

    display: flex;
    justify-content: center;
    align-items: center;
  }


  span.number {

    font-size: 5rem;
    letter-spacing: -5px;

    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #65A7C5;


  }
}



