span.number {

    font-size: 5rem;
  letter-spacing: -5px;

  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #65A7C5;


}