.article_header {

  display: flex;
  width: 100%;
  flex-direction: column;
  border-bottom: 1px solid black;

  h3 {

  }

  span {


    height: 1rem;
    width: 1px;
    background-color: black;

    &:nth-of-type(2), span:nth-of-type(3) {

      position: absolute;
      bottom: 0;
      left: 0;
    }

    &:nth-of-type(3) {

      left : auto;
      right: 0;
    }

  }

}