text.header {

  text-transform: uppercase;
  font-weight: bold;
  font-size: .85rem;
}

//.legend rect  {
//  fill: #ccc;
//
//  &.melding-acuut-onveilige-situatie  {
//    fill: darkblue;
//  }
//
//  &.na-19-maart-2018  {
//    fill: $blue;
//  }
//
//  &.voor-19-maart-2018-met-opname {
//    fill: orange;
//  }
//  &.voor-19-maart-2018-zonder-opname  {
//    fill: $green;
//  }
//  &.afgewezen  {
//    fill: orange;
//  }
//  &.gedeeltelijk-toegekend  {
//    fill: $blue;
//  }
//  &.geheel-toegekend  {
//    fill: darkblue;
//  }
//
//}

.legend  {
  font-size: 1rem;
}