text.header {

  text-transform: uppercase;
  font-weight: bold;
  font-size: .85rem;
}

//.legend rect  {
//  fill: #ccc;
//
//  &.melding-acuut-onveilige-situatie  {
//    fill: darkblue;
//  }
//
//  &.na-19-maart-2018  {
//    fill: $blue;
//  }
//
//  &.voor-19-maart-2018-met-opname {
//    fill: orange;
//  }
//  &.voor-19-maart-2018-zonder-opname  {
//    fill: $green;
//  }
//  &.afgewezen  {
//    fill: orange;
//  }
//  &.gedeeltelijk-toegekend  {
//    fill: $blue;
//  }
//  &.geheel-toegekend  {
//    fill: darkblue;
//  }
//
//}

.legend  {
  font-size: 1rem;
}


ul.legend.horizontal {

  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  li {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-right: 1rem;

    > span {
      width: 1rem;
      height: 1rem;
      margin-right: .25rem;

      &.orange {
        background: $orange;
      }

      &.blue {
        background: $blue;
      }

      &.darkblue {
        background: $darkblue;
      }

      &.green {
        background: $green;
      }
    }
  }



}