#map {

  width: 100%;
  height: 100%;


  main {
    margin: 0;
    position: relative;
    width: 100%;
    height: 100%;
  }

  div {

    width: 100%;
    height: 100%;
  }


}

html {

  min-height: 100%;
}


.map-input-container {

  align-self: center;

  width: 80%;


  max-width: 800px;
  min-height: 800px;
}

.map-selector {

  position: absolute;
  right: 0;
  top: 20%;
  width: auto;
  height: auto;
  padding: 2rem;
}