#map {

  width: 100%;
  height: 100%;


  main {
    margin: 0;
    position: relative;
    width: 100%;
    height: 100%;
  }

  div {

    width: 100%;
    height: 100%;
  }


}

html {

  min-height: 100%;
}


.map-input-container {

  width: calc(100% - 32rem);
}