.arc {
  stroke-width: 2px;
  stroke: white;

}

#bezwaren-pie-chart {

  svg .data path:first-of-type {

    transform: translate(6px, -3px);

    @media (min-width: $breakpoint-xxsm) {

      transform: translate(12px, -6px);
    }
  }
}