.pie-container {

  display: flex;
  flex-direction: column;

  @media (min-width: $breakpoint-xxsm) {

    flex-direction: row;
  }
}


.arc {
  stroke-width: 2px;
  stroke: white;

}

path.arc.accented {

    transform: translate(6px, -3px);

    @media (min-width: $breakpoint-xxsm) {

      transform: translate(12px, -6px);
    }
  }
