ul.radios {

  border: 1px solid black;
  border-radius: 4px;
  margin-bottom: .5rem;

  li {
    border: none;

    &:not(:last-of-type) {
      border-right: 1px solid black;
    }

    &:checked {
      background: #eee;
    }
  }
}