ul.radios {

  border: 1px solid black;
  border-radius: 4px;
  margin-bottom: .5rem;

  li {
    border: none;
    padding: 3px .5rem 3px .5rem;

    &:not(:last-of-type) {
      border-right: 1px solid black;
    }

    input:checked + label {
      background: #eee;
    }
  }
}