.selector {

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  > div {
    width: auto;
  }


  .properties {

    display: flex;
    flex-direction: row;
    justify-content: flex-end;

      li {
        border-radius: 6px;
        border: 1px solid black;
        padding: 4px 1rem;
      }
  }

}