.selector {

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: auto;
  margin: 3rem 0;
  width: calc(100% - 12rem);

  > div {
    width: auto;
  }


  .properties {

    display: flex;
    flex-direction: row;
    justify-content: flex-end;

      li {
        border-radius: 6px;
        border: 1px solid black;
        padding: 4px 1rem;
        margin-right: .5rem;


        &:last-of-type {
          margin-right: 0;
        }
      }
  }

}