table {

  margin: 2rem 1rem;
  width: calc(100% - 2rem);

   tr {


     td {
       padding: 0 .025rem;
       text-align: right;

       &:first-of-type {
         text-align: left;
       }
     }
   }
}