table {

  margin: 2rem 1rem;
  width: calc(100% - 2rem);

   tr {


     td {
       padding: 2px 5px;
       text-align: right;

       &:first-of-type {
         text-align: left;
       }
     }

     &:first-of-type {

       td {
         font-size: .8rem;
         text-transform: uppercase;
       }
     }

     &:last-of-type {

       td {
         border-top: 1px solid black;
         padding: 4px 5px;

       }
     }
   }
}