div.tooltip {
  position: absolute;
  width: auto;
  height: auto;
  max-width: 180px;
  max-height: 180px;
  padding: 1rem;
  background: darkblue;
  color: #fff;
  pointer-events: none;
  font-size: .85rem;

  .uppercase {

    @include uppercase;
  }
}