#v2 main {

  flex-direction: column;
  align-items: center;

    > div.graph-row {

      flex-direction: row;
      align-items: flex-start;
      width: calc(100% - 8rem);
      justify-content: space-between;
      padding: 0;
      margin: 0;

      > div  {
        flex-direction: column;
        align-items: center;
        width: 33%;

        > h2 {
          text-align: center;
        }
      }

      .legend-container-input {

        margin: 0;
        width: 100%;
        margin-top: 1rem;
      }

      .container.no-border {

        border: none;
      }

      .textual {
        display: none;
      }
    }
}

.graph-header {

  h2 {
    //text-transform: none;
    font-size: 1.6rem;
    margin-bottom: 1rem;
    color: $green;
    font-weight: 700;
    letter-spacing: 0;
  }
}