#v2 main {

  flex-direction: column;

    > div {

      flex-direction: row;

      > div  {
        flex-direction: column;
        align-items: center;
      }

      .textual {
        display: none;
      }
    }



}