#v2 main {

  flex-direction: column;
  align-items: center;

    > div.graph-row {


      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      padding: 0;
      margin: 0;

      width: calc(100% - 2rem);

      @media (min-width : $breakpoint-sm) {

        width: calc(100% - 8rem);
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
      }

      > div  {
        flex-direction: column;
        align-items: center;
        //width: 33%;

        > h2 {
          text-align: center;
        }
      }

      .legend-container-input {

        margin: 0;
        width: 100%;
        margin-top: 1rem;
      }

      .container {
        margin: 0;
        width: auto;
      }

      .container.no-border {

        border: none;
      }

      .top-margin {
        margin-top: 21px;
      }

      .textual {
        display: none;
      }

      &:last-of-type {

        > div {
          width: calc(33.3% - 2rem);
        }
      }
    }


}

.graph-header {

  h2 {
    //text-transform: none;
    font-size: 1.6rem;
    margin: 1rem 0 2rem 0;
    color: $green;
    font-weight: 700;
    letter-spacing: 0;
  }
}

.description {

  max-width: 24rem;

  span {

    padding: 0 2px;

    &.orange { background: orange; }
    &.blue { background: $blue; }
    &.green { background: $green; color: white; }
  }

  p {
    margin-bottom: 1.55rem;
  }

}


.map-input-container {
  svg { margin-top: -60px; }
}
